body {
    background: #EBF6FC;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-left: 20px;
	top:20px;
}

p {
    height: 10px;
}

.info {
    line-height: 1px; 
    float:left;
    font-size: 120%;
    text-align: left;
    width: 200px;
}



.logo{
	width: 150px;
    height: 150px;
	position: absolute;
    right:40px;
    top:20px;
}

.status{ 
    position: absolute;
    right:680px;
    top:20px;

}

.box{
    background: white;
    width: 44px;
    height: 44px;
    border: 1px solid;
    border-color: grey;
    float: left;
    text-align: center;   
}

.box:hover{
    cursor: pointer;
    background-color: grey;
}

.credit{
	font-size: 120%;
	position: absolute;
    right:40px;
    bottom:20px;
}

.player1{
	font-size: 120%;
	position: absolute;
    left:340px;
	bottom:70px;
}

.player2{
	font-size: 120%;
	position: absolute;
    right:360px;
	bottom:70px;
}

.p1board{
	position: absolute;
    left:170px;
	top:150px;
}

.p2board{
	position: absolute;
    right:270px;
	top:150px;
}
