body {
    background: #EBF6FC;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-left: 20px;
	top:20px;
}

p {
    height: 10px;
}

.info {
    line-height: 1px; 
    float:left;
    font-size: 120%;
    text-align: left;
    width: 900px;
}



.logo{
	width: 150px;
    height: 150px;
	position: absolute;
    right:40px;
    top:20px;
}

.status{ 
    position: absolute;
    right:680px;
    top:20px;

}

.box{
    background: white;
    width: 44px;
    height: 44px;
    border: 1px solid;
    border-color: grey;
    float: left;
    text-align: center;   
}

.boat{
    position: absolute;
    background: rgba(82, 82, 82, 0.575);
    width: 44px;
    height: 44px;
    border: 1px solid;
    border-color: rgb(65, 65, 65);
    float: left;
    text-align:s center; 
    left: 20px;
}

.box:hover{
    cursor: pointer;
    background-color: grey;
}

.credit{
	font-size: 120%;
    right:40px;
    position:absolute;
    bottom:20px;
}

.player1{
	font-size: 120%;
	position: absolute;
    left:340px;
	bottom:70px;
}

.player2{
	font-size: 120%;
	position: absolute;
    right:360px;
	bottom:70px;
}

.p1board{
	position: absolute;
    left:170px;
	top:150px;
}

.p2board{
	position: absolute;
    right:270px;
	top:150px;
}

@keyframes changeAngle {
    from {transform: rotate(10deg);}
    to {transform: rotate(-10deg);}
}

img {
    animation-name: changeAngle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.home {
    left: 20px; 
    top: 540px;
    position: relative;
    text-align: center;
    font-size: 100%;
    background: #529CE3;
    padding: 6px;
    border-radius: 10px;
    clear: both;
    float: left;
}

.home:hover {
    cursor: pointer;
    background-color: rgb(47, 140, 228);
    padding: 10px;
}

@keyframes typingAnimation {
    from {
        width: 0px;
    }

    to {
        width: 300px;
    }
}

h2 {
    left: -265px;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    /*animation-name: typingAnimation;*/
    animation-duration: 3s;
    overflow: hidden;
}