body {
    background: #EBF6FC;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-left: 20px;
}

main {
    width: 800px;
}

footer {
    width: 1470px;
}

.x{
   font-size: 120%;
   margin-bottom: 5px;
}
.close{
    background: white;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: grey;
    float: left;
    text-align: center;
    position: absolute;
    top: 210px;
    right: 480px;
}

.close:hover{
    cursor: pointer;
    background-color: rgb(187, 187, 187);
}

.play:hover{
    cursor: pointer;
    background-color: rgb(47, 140, 228);
    padding: 10px;
}

.howTo:hover{
    cursor: pointer;
    background-color: rgb(47, 140, 228);
    padding: 10px;
}

.info {
    line-height: 1px; 
    float:left;
    font-size: 120%;
    text-align: left;
    width: 200px;
}

/*Animating of title: Battleship
    First part changes color over a 2 second interval, gets alternated*/
@keyframes changeColor {
    from {color: black; }
    to {color: slategray; }
}

@keyframes changePosition {
    0% {
        top:0px;
    }
    50% {
        top:-30px;
    }
    100% {
        top:0px;   
    }
}

h1:hover {
    font-size: 700%;
}

h1 {
    clear:both;
    height: 50px;
    font-size: 600%;
    text-align: center;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

h1 span {
    position: relative;
}
.char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10 {
    animation-name: changePosition;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.char2 {
    animation-delay: 150ms;
}

.char3 {
    animation-delay: 230ms;
}

.char4 {
    animation-delay: 310ms;
}

.char5 {
    animation-delay: 390ms;
}

.char6 {
    animation-delay: 470ms;
}

.char7 {
    animation-delay: 550ms;
}

.char8 {
    animation-delay: 630ms;
}

.char9 {
    animation-delay: 710ms;
}

.char10 {
    animation-delay: 790ms;
}

@keyframes changeAngle {
    from {transform: rotate(10deg);}
    to {transform: rotate(-10deg);}
}

img {
    animation-name: changeAngle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

p {
    height: 10px;
}

.undertext {
    font-size: 150%;
}

.buttons {
    clear: both;
}

.play, .howTo {
    text-align: center;
    font-size: 350%;
    background: #529CE3;
    padding: 6px;
    border-radius: 10px;
    width: 350px;
}

.rules{
    position:absolute;
    top: 200px;
    left: 480px;
    text-align: center;
    font-size: 120%;
    opacity: 0.95;
    background: white;
    border-radius: 10px;
    height: 300px;
    width: 600px;  
    overflow: auto;
}



.play {
    float: left;
}

.howTo {
    float: right;
}

.madeby {
    font-size: 120%;
	position: absolute;
    right:40px;
    bottom:20px;
}

