body {
    background: #EBF6FC;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-left: 20px;
}

main {
    width: 800px;
}

footer {
    width: 1470px;
}

.info {
    line-height: 1px; 
    float:left;
    font-size: 120%;
    text-align: left;
    width: 200px;
}

h1 {
    clear: both;
    font-size: 600%;
    height: 50px;
    text-align: center;
}

p {
    height: 10px;
}

.undertext {
    font-size: 150%;
}

.buttons {
    clear: both;
}

.play, .howTo {
    text-align: center;
    font-size: 350%;
    background: #529CE3;
    padding: 6px;
    border-radius: 10px;
    width: 350px;
}

.play {
    float: left;
}

.howTo {
    float: right;
}

.madeby {
    clear: both;
    height: 10px;
    line-height: 250px;
    font-size: 120%;
    float: right;
}
